body {
    background: linear-gradient(90deg, #222222 0%, #000000 19%, #555555 20%, #00131E 20%, #00131E 80%, #555555 80%, #000000 81%, #222222 100%);
    margin: 0;
    background-attachment: fixed;
}


h1 {
    padding-bottom: 10px;
    font-size: 40px;
}

h2 {
    margin-top: 0px;
    font-size: 26px;
    text-align: left;
    margin-bottom: 0;
}

h3 {
    color: gray;
    text-align: left;
}

p {
    font-size: 25px;
    margin: 0 10px 0 10px;
}

.link-container {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 15px;
    padding-bottom: 30px;
}

.article-link, article-contents {
    text-decoration: none;
    color: white;
    font: normal 24px verdana;
    display: inline-block;
    margin-top: 20px;
}

.article-link:visited {
    color: white;
}

.article-link:hover {
    color: #82AECB;
    text-shadow: 0px 0px 3px #82AECB;
}

.article-description {
    margin-left: 15px;
    margin-right: 15px;
}

.article-resources {
    padding-top: 30px;
}

@media (max-width: 1200px) {
    .link-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    body {
        background: linear-gradient(90deg, #222222 0%, #000000 3%, #555555 5%, #00131E 5%, #00131E 95%, #555555 95%, #000000 97%, #222222 100%);
    }
    h1 {
        font-size: 25px;
        padding-bottom: 0;
    }
    p {
        font-size: 15px;
    }
    .article-link {
        font-size: 20px;
    }
}