/*General*/

body {
    margin: 0;
    background: #00131E;
}

p {
    color: #D2B48C;
    font-size: 25px;
    font-family: Calibri;
    margin: 0px 100px 0px 100px;
}

h1 {
    color: #82AECB;
    text-align: center;
    margin: 20px 100px 10px 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #c0c0c0;
    text-align: center;
    font-size: 30px;
    margin: 40px 100px 20px 100px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin: 0px 0px 0px 0px;
}

footer {
    background: black;
    z-index: 1;
    position: relative;
}


.center-items {
    display: flex;
    justify-content: center;
    border-top: 20px solid #82AECB;
}

.ending-logo{
    width: 200px;
    height: 200px;
    margin: 50px 80px 50px 80px;
}




/**********************/
/*navbar*/
.navbar {
    width: 85%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #d2ae6d;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    display: block;
    margin: 0 0 0 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 52px;

    position: relative;
}


nav a {
    color: #001324;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    border-top: 7px double #001324;
    border-bottom: 7px double #001324;
    transition: all ease-in-out 200ms;
}

/*  OBSELETE NAVBAR ANIMATION
    
    nav a::before {
    content: '';
    display: block;
    height: 0px;
    background-color: #001324;
    margin-left: -10%;

    position: absolute;
    top: 45px;
    width: 120%;
    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    height: 5px;
    width: 120%;
}

nav a::after {
    content: '';
    display: block;
    height: 0px;
    background-color: #001324;
    margin-left: -10%;

    position: absolute;
    top: 71px;
    width: 120%;
    transition: all ease-in-out 200ms;
}

nav a:hover::after {
    height: 5px;
    width: 120%;
}

*/



/*******/
/*Smaller Screens*/
@media (max-width: 1200px) {
    .ending-logo {
        margin: 40px 70px 40px 70px;
    }
    nav li {
        margin-left: 30px;
    }
}

@media (max-width: 950px) {
    .ending-logo {
        margin: 30px 20px 30px 20px;
    }

    h1 {
        margin: 20px 20px 10px 20px;
        padding: 0;
    }

    h2 {
        margin: 40px 20px 20px 20px;
        padding: 0;
    }
    nav li {
        margin-left: 25px;
    }
}

/***navbar goes weird right after 725px***/
@media (max-width: 725px) {
    .ending-logo {
        margin: 30px 8px 30px 8px;
    }

@media (max-width: 650px) {
    .ending-logo {
        width: 130px;
        height: 130px;
        margin: 30px 10px 30px 10px;
    }
    .center-items {
        border-top: solid 5px #82AECB;
    }
}

@media (max-width: 500px) {
    .ending-logo {
        width: 100px;
        height: 100px;
        margin: 15px 10px 15px 10px;
    }
}
