/*index.html*/
body {
    animation: bodyBackground 10s;
}

@keyframes bodyBackground {
    0% {
        background: #d2ae6d;
    }

    70% {
        background: #d2ae6d;
    }

    100% {
        background: #00131E;
    }
}

.logo {
    animation: navLogo 3s
}

@keyframes navLogo {
    0% {
        transform: translateY(40vh) translateX(40vw) scale(0);
    }

    25% {
        transform: translateY(40vh) translateX(40vw) scale(3);
    }

    40% {
        transform: translateY(40vh) translateX(40vw) scale(3);
    }

    100% {
        transform: translateY(0%) translateX(0%) scale(1);
    }

    0% {
        opacity: 0
    }

    25% {
        opacity: 1
    }
}

nav a {
    animation: navLinks 10s;
}

@keyframes navLinks {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hamburger-container {
    animation: hamFadeIn 10s;
}

@keyframes hamFadeIn {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.index-banner {
    padding: 280px 0px 280px 0px;
    text-align: center;
    background-image: url(css-images/test4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #d2ae6d;
    font-size: 100px;
    margin: 60px 0 0 0;
    font-size: 65px;
    font-family: 'Palatino Linotype';
    animation: slideInBanner 6.5s;
}

.slide-left {
    overflow-x: hidden;
}

.readable {
    padding: 0 15px 0 15px;
    background-color: rgba(0, 19, 30, 1);
    border-radius: 20px;
    border: 3px solid #d2ae6d;
    box-shadow: 0 0 5px black, 0 0 10px black;
    animation: fadeInTitle 5s;
}

.subtitle {
    color: #82AECB;
    text-shadow: 1px 1px 3px black;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeInSubtitle 7s;
}

.slide-up {
    overflow-y: hidden;
}

.main-text {
    animation: fadeInText 10s;
}

@keyframes slideInBanner {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadeInTitle {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInSubtitle {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button-container {
    display: block;
    margin: 10px 100px 100px 100px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(#d2ae6d, white, #d2ae6d);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 50px;
    color: #00131E;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}

    .button:hover {
        text-shadow: 0.5px 0px 0px #00131E, -0.5px 0px 0px #00131E, 0px 0.5px 0px #00131E, 0px -0.5px 0px #00131E;
        background-color: #92BEDB;
        cursor: pointer;
    }

    .button:active {
        background-image: linear-gradient(rgb(170, 134, 69), white, rgb(170, 134, 69));
    }


/*Mobile Rules*/
@media (max-width: 1700px) {
    .index-banner {
        padding: 200px 0px 200px 0px;
        font-size: 50px;
    }
}

@media (max-width: 950px) {
    p {
        margin: 0px 20px 0px 20px;
    }

    .subtitle {
        padding: 20px;
        margin: 0px;
    }

    .button {
        display: block;
        margin: 0px auto 60px auto;
        width: 60%;
        text-align: center;
    }

    .index-banner {
        padding: 150px 0px 150px 0px;
        font-size: 40px;
    }

    .logo {
        animation: navLogo 3s
    }

    @keyframes navLogo {
        0% {
            transform: translateY(40vh) translateX(30vw) scale(0);
        }

        25% {
            transform: translateY(40vh) translateX(30vw) scale(3);
        }

        40% {
            transform: translateY(40vh) translateX(30vw) scale(3);
        }

        100% {
            transform: translateY(0%) translateX(0%) scale(1);
        }

        0% {
            opacity: 0
        }

        25% {
            opacity: 1
        }
    }
}


@media (max-width: 725px) {
    @keyframes navLinks {
        0% {
            opacity: 1
        }

        40% {
            opacity: 1
        }

        100% {
            opacity: 1
        }
    }
}

@media (max-width: 700px) {
    .index-banner {
        padding: 100px 0px 100px 0px;
        font-size: 30px;
    }

    .subtitle {
        font-size: 25px;
    }

    p {
        font-size: 16px;
    }

    .button {
        font-size: 24px;
        width: 40%;
        border-bottom: 30px;
    }
}

@media (max-width: 520px) {
    .index-banner {
        padding: 75px 0px 75px 0px;
        font-size: 30px;
    }

    .subtitle {
        font-size: 25px;
    }

    p {
        font-size: 16px;
    }

    .button {
        font-size: 16px;
        width: 40%;
    }
}

@media (max-width: 450px) {
    .index-banner {
        padding: 50px 0px 50px 0px;
        font-size: 25px;
    }

    .subtitle {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .button {
        width: 40%
    }
}
/*********************/


/*veggietales links*/
.veggie-link {
    float: right;
}

.veggietales {
    display: block;
    margin: 30px auto;
}
