/*index.html*/
.index-banner {
    padding: 300px;
    text-align: center;
    background-image: url(css-images/test4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #001324;
    text-shadow: 0 0 10px gray;
    font-size: 100px;
    margin: 60px 0 0 0;
    font-size: 65px;
    font-family: 'Palatino Linotype';
}

.subtitle {
    color: #82AECB;
    text-shadow: 1px 1px 3px black;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    padding: 280px;
    text-align: center;
    background: #d2ae6d;
    color: black;
    font-size: 100px;
}


/*Mobile Rules*/
@media (max-width: 900px) {
    p {
        margin: 0px 20px 0px 20px;
    }

    .subtitle {
        padding: 20px;
        margin: 0px;
    }
}
    /*********************/


    /*veggietales links*/
    .secret-link {
        display: block;
        text-align: right;
        margin: 190px 0 0 0;
    }

    .veggietales {
        display: block;
        margin: 30px auto;
    }
