body {
    margin: 0;
    background: #00131E;
}

p {
    color: #d2ae6d;
    font-size: 25px;
    font-family: Calibri;
    margin: 0px 200px 0px 200px;
    background: #00131E;
}

h1 {
    color: #c0c0c0;
    text-align: center;
}

h2 {
    color: #c0c0c0;
    text-align: center;
    font-size: 50px;
}

img {
    margin: 0px 200px 0px 200px;
}

.index-banner {
    padding: 80px;
    text-align: center;
    background-image: url(css-images/index-banner.jpg);
    color: #d2ae6d;
    text-shadow: 3px 3px 5px #00131E;
    font-size: 100px;
    margin: 50px 0 0 0;
}

.subtitle {
    color: #c0c0c0;
    text-shadow: 1px 1px 3px black;
}

.title {
    padding: 280px;
    text-align: center;
    background: #d2ae6d;
    color: black;
    font-size: 100px;
}


.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.fact {
    text-align:center;
}

.button {
    background: #c0c0c0;
}

.navbar {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #d2ae6d;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 52px;

    position: relative;
}


nav a {
    color: #00131E;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

    nav a:hover {
        color: gray;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: gray;

        position: absolute;
        top: 45px;
        width: 0%;
        transition: all ease-in-out 200ms;
    }

nav a:hover::before{
    width: 100%;
}

    nav a::after {
        content: '';
        display: block;
        height: 5px;
        background-color: gray;

        position: absolute;
        top: 71px;
        width: 0%;
        transition: all ease-in-out 200ms;
    }

nav a:hover::after {
    width: 100%;
}

.secret-link {
    display: block;
    text-align: right;
    margin: 190px 0 0 0;
}

.veggietales {
    display: block;
    margin: 30px auto;
}
